.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#GameTileContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.GameTile {
  height: auto;
  max-height: 400px;
  width: auto;
  max-width: 400px;
  margin: 10px;
}

.GameName {
  color: grey;
}

.card-img-bottom {
  height: auto;
  max-height: 200px;
  width: auto;
  max-width: 200px;
}

.CardButton {
  margin: 3px;
}
